.selected{
    background-color: aliceblue;
}

.completed{
    text-decoration: line-through;
}

.todo-card {
    cursor: hand;
}

.sort-sec{
    margin-bottom: 7px;
}

button{
    border:none;
    background-color: none;
    color: blue;
}